.todo {
    color: white;
    border-color: white;
}

.in-progress {
    color: orange;
    border-color: orange;
}

.done {
    color: green;
    border-color: green;
}

.configure-width {
    width: 60%;
}
